*, div#main-content { font-size: 11px; font-family: Verdana; line-height: 1.4em; }
a { text-decoration: none; }
a:visited, a:link, a:active { color: #0F6B99 !important; text-decoration: none !important; }
a:hover { color: #E59900 !important; text-decoration: none !important; }
h1 { font-size: 13px; font-family: Verdana; font-weight: bold; }
html, .block, ul.links { font-size: 11px; }
#branding { background: none; padding: 5px; margin-bottom: 0px; width: 500px; float: left; }
#header { background: none; }
#site-name a { text-transform: none; }
.block h2, h3 { letter-spacing: 0.1em; font-size: 15px !important; font-weight: bold; padding: 5px 0px; margin: 5px 0px; }
.views-view-grid tr td { vertical-align: top; }
#header, #main, #footer, body.page-admin #main { width: 900px; max-width: 900px; min-width: 900px; }
body.two-sidebars #sidebar-first-wrapper, body.two-sidebars #sidebar-second-wrapper { width: 170px; }
body.two-sidebars #main-content-wrapper { width: 560px; }
body.page-admin #main-content-wrapper { width: 900px; }
body.page-admin #main, #main { padding: 15px 0px; }
#navigation li a { font-size: 14px; }
#block-views-bestseller-block_1 .content .view-content .views-row, #main-content .view-frontpage .view-content .views-row { width: 160px; float: left; border: 1px solid #EBEBEB; margin: 5px; height: 340px; display: block; padding: 10px; }
#block-views-bestseller-block_1 h2, h1.title { font-family: Georgia; border-bottom:1px solid #CCCCCC; font-size: 15px; line-height:1.1; margin:9px 0; padding-bottom:5px; letter-spacing: 0em; color: #404040; text-transform: none; letter-spacing: 0.1em; }
#block-views-bestseller-block_1 .content .view-content .views-row .views-field-title a, #main-content .view-frontpage .view-content .views-row .views-field-title a { font-weight: bold; }
#main-content .view-frontpage .item-list, #block-views-bestseller-block_1 .content .item-list { float: left; }
#block-custom_search_blocks-1 { margin-bottom: 5px; }
#custom-search-blocks-form .form-item { float: left; margin: 0px 0px 0px 10px; }
#custom-search-blocks-form .form-item .form-text { width: 400px; }
#custom-search-blocks-form input.form-submit { margin-left: 10px; }
.node-header { margin: 10px 0px; }

#header_top { width: 350px; float: left; }

#navigation { clear: both; float: none; }

#block-menu-primary-links { border-bottom:1px solid #CCCCCC; margin:20px 0 0 0; display: block; }

#block-menu-primary-links ul li { display:inline; margin:0 1em 0 0; font-size: 14px !important; }

#preface-first { width: 700px; }

#preface-wrapper { margin-top: 10px !important; }

#internal-nav { margin-top: 0px !important; }

div.block-taxonomyblocks ul li { margin: 3px 0px; }

a.imagecache-bookcover_linked { margin: 0px 5px; }
