/* $Id: modules.css,v 1.5.2.1 2010/06/18 17:55:11 jarek Exp $ */

/**
 * Block module
 */
.block {
  margin-bottom: 25px;
  font-size: 0.9em;
}
.block:last-child {
  margin-bottom: 15px;
}
.block-content {
  margin: 5px 0 20px 0;
}
.block-content h2 {
  font-size: 1.5em;
  margin: 0 0 7px 0;
}
.block h2 {
  margin: 0 0 12px 0;
  padding: 0 0 10px 0;
  color: #BF6030;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-bottom: 1px solid #EBEBEB;
}
.block h2::selection,
.block h2 em::selection {
  background-color: #BF6030;
  color: #ffffff;
}
.block h2::-moz-selection,
.block h2 em::-moz-selection {
  background-color: #BF6030;
  color: #ffffff;
}
.block li {
  margin-top: 8px;
}
.block .more-link {
  margin: 5px 0;
  text-align: right; /* LTR */
}
.block th,
.block td {
  padding-left: 0;
  padding-right: 0;
}
.block input.form-text,
.block input.form-password,
.block input.form-file {
  width: 100%;
  max-width: 400px;
}

/**
 * Node module
 */
.node {
  margin-top: 25px;
}
.node:first-child {
  margin-top: 0;
}
.term-listing-heading + .node {
  margin-top: 0;
}
.node-header {
  margin-bottom: 16px;
}
.node h1.node-title,
.node h2.node-title {
  margin: 0;
  line-height: 1;
  font-size: 2em;
}
.node .meta {
  margin-top: 4px;
  color: #808080;
  font-size: 0.85em;
}
.node .meta a:focus {
  outline-color: #444444;
}
.node .user-picture {
  float: left; /* LTR */
  margin: 0 15px 15px 0; /* LTR */
}
.node .user-picture img {
  width: 70px;
}
.node .field-name-body {
  margin-bottom: 14px;
}
/* "Read more" and "X comments" links */
.node .links-wrapper {
  font-size: 0.85em;
  margin: 5px 0;
  clear: both;
}
.node ul.links {
  display: inline-block;
  margin: 0;
}
.node ul.links li {
  margin: 0 11px 0 0; /* LTR */
}

/**
 * Comment module
 */
#comments-wrapper {
  margin-top: 20px;
}
#comments-wrapper .indented {
  margin: 0 0 0 30px; /* LTR */
}
.comment {
  border-bottom: 1px solid #CCCCCC;
  margin: 20px 0;
  padding: 0 0 16px 0;
}
.comment .header {
  display: block;
  margin-bottom: 14px;  
}
.comment .user-picture {
  float: right; /* LTR */
  margin: 0 0 10px 10px; /* LTR */
}
.comment .user-picture img {
  width: 50px;
  margin: 0;
  border: 1px solid #CCCCCC;
  padding: 4px;
  background-color: #FCFCFC;
}
.comment h3.title {
  display: inline-block;
  border: none;
  font-size: 0.85em;
  line-height: 1;
  padding: 0;
  margin: 0 0 5px 0;
  text-transform: none;
}
.comment h3.title a {
  font-weight: 700;
}
.comment .meta {
  font-size: 0.85em;
  margin: 0;
}
.comment ul.links {
  margin: 8px 0 0;
}
.comment ul.links li a {
  text-transform: capitalize;
}
.no-comments #comment-form-wrapper {
  margin-left: 0;
}
form#comment-form #edit-actions {
  margin: 0;
}

/**
 * Book module
 */
.node-book ul.links {
  margin: 0 0 14px 0;
}
.page-links {
  display: table;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #CCCCCC;
  padding: 13px 0;
}
.page-links .page-previous {
  display: table-cell;
  vertical-align: top;
  width: 40%;
}
.page-links .page-up {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  text-align: center;
}
.page-links .page-next {
  display: table-cell;
  vertical-align: top;
  width: 40%;
  text-align: right; /* LTR */
}
.page-links .page-next:first-child {
  width: 100%;
}

/**
 * Aggregator module
 */
#content a.feed-icon {
  float: right; /* LTR */
  margin-top: -5px;
  position: relative;
  z-index: 99;
}
#content a.feed-icon img {
  margin: 0;
}

/**
 * Field module
 */
/* Taxonomy terms */
.field-type-taxonomy-term-reference {
  font-size: 0.85em;
}
.field-type-taxonomy-term-reference .field-label {
  color: #808080;
  display: inline-block;
  font-weight: 700;
}
.field-type-taxonomy-term-reference .field-items {
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:after {
	content: ",";
}
.field-type-taxonomy-term-reference .field-item:last-child:after {
  content: normal;
}
/* Image fields */
.field-type-image,
.field-name-body img {
  float: left; /* LTR */
  clear: both;
}
.field-type-image img,
.field-name-body img {
  margin: 15px 15px 15px 0; /* LTR */
}
#edit-field-image {
  float: none;
}

/**
 * Filter module
 */
fieldset.filter-wrapper {
  margin: 0 0 12px 0;
  padding: 0;
  border-top: none;
}
fieldset.filter-wrapper .fieldset-wrapper {
  margin: 0;
}
fieldset.filter-wrapper .form-item {
  margin-top: 0px;
}
fieldset.filter-wrapper .form-type-select {
  display: inline-block;
}
.filter-help {
  float: right; /* LTR */
  margin: 19px 0 0;
}
.filter-guidelines ul {
  margin: 0;
}
body.page-filter-tips #content ul {
  margin: 0;
  list-style: none;
}
body.page-filter-tips #content ul li {
  margin: 10px 0;
}
body.page-filter-tips table {
  margin: 10px 0;
}

/**
 * Forum module
 */
body.page-forum ul.action-links {
  margin: 9px 0;
}
#forum tr.container {
  border-bottom: 3px double #CCCCCC;
}
#forum td.container .name a {
  color: #BF6030;
  font-size: 0.85em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#forum td {
  padding: 13px 14px;
  vertical-align: top;
}
#forum > table {
  margin-top: 0;
}

/**
 * Locale module
 */
ul.language-switcher-locale-session {
  margin: 0;
}

/**
 * OpenID module
 */
/* user login form */
html.js #user-login-form .form-item-openid-identifier,
html.js #user-login .form-item-openid-identifier {
  display: none;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  display : block;
}
#user-login-form li.openid-link,
#user-login li.openid-link,
#user-login-form li.user-link,
#user-login li.user-link {
  display: none;
}
#user-login-form li.openid-link a,
#user-login li.openid-link a {
}
#block-user-login li:first-child {
  margin-top: 8px;
}
#block-user-login .description {
  margin-bottom: 10px;
}
/* user profile tab */
.form-item-openid-identifier {
  margin: 10px 0;
  display: block;
}

/**
 * Poll module
 */
.poll .bar-wrapper {
  margin-bottom: 14px;
}
.poll .text {
  float: left;
  margin-bottom: 3px;
}
.poll .percent {
  float: right;
  margin-bottom: 3px;
}
.poll .bar {
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
}
.poll .bar .foreground {
  background-color: #BF6030;
  height: 18px;
}
.vote-form .form-item-choice {
  margin: 8px 0;
  padding: 0;
}
.vote-form .title {
  font-weight: 700;
  line-height: 1.5;
}
.vote-form .form-radios {
  margin: 13px 0 9px 0;
}

/**
 * Profile and User modules
 */
.profile dd {
  margin-left: 0;
}
.profile h3 {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 17px;
}
.user-picture {
  margin: 0 0 10px 10px;
}
.user-picture a {
  display: block;
}
#block-profile-author-information .user-picture {
  float: left; /* LTR */
  margin: 0 12px 12px 0; /* LTR */
}
#block-profile-author-information + * {
  clear: both;
}

.profile .user-picture {
  float: right; /* LTR */
  margin-top: 30px;
}
/* User list */
body.page-profile .profile {
}
body.page-profile .user-picture {
  margin: 0 0 5px 0;
  vertical-align: top;
  float: none;
}
body.page-profile .user-picture img {
  width: 60px;
}
body.page-profile .name {
  line-height: 2.2;
}

/**
 * Search module
 */
ol.search-results p {
  margin-top: 0;
}
ol.search-results {
  margin: 5px 0 20px 0;
  list-style: none inside none;
}
ol.search-results .search-info {
  font-size: 0.9em;
}
ol.search-snippet strong {
  font-weight: 700;
}
ol.search-advanced .criterion {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.search-advanced .action {
  display: inline-block;
  vertical-align: top;
}

/**
 * Contexutal links module
 */
div.contextual-links-wrapper {
  font-size: 12px;
  z-index: 20;
}
div.contextual-links-active a.contextual-links-trigger  {
  right: 0px;
}
a.contextual-links-trigger:focus {
  outline: none;
  right: -2px;
}
div.contextual-links-wrapper ul.contextual-links  {
  top: 18px;
  font-size: 0.9em;
}
div.contextual-links-wrapper ul.contextual-links li {
  margin: 0;
}
div.contextual-links-wrapper ul.contextual-links a {
  line-height: 1.4;
}

/**
 * Tooblar module
 */
#toolbar {
  font-size: 11px; /* value for browsers not supporting rems */
  font-size: 0.9rem;
}

/**
 * Overlay module
 */
body.overlay {
  background-color: transparent;
}
body.overlay #main-wrapper,
body.overlay #main {
  padding: 0!important;
  width: 100%;
}
body.overlay #main {
  width: 100%!important;
  padding: 0 20px;
} 
body.overlay #page {
  border: none;
  padding-bottom: 0;
}
body.overlay h1.page-title {
  display: none;
}
.overlay .ui-dialog-title  {
  font-size: 2.3em;
  padding: 0 0 6px;
}

/**
 * DBlog module
 */
form#dblog-filter-form .form-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 0;
}
#dblog-filter-form select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  padding: 6px 0;
}
tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #fffee9;
}
tr.dblog-content .active {
  background: #fffcc3;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #f3fcdb;
}
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active {
  background: #def2a9;
}
tr.dblog-error {
  background: #fce8dd;
}
tr.dblog-error .active {
  background: #fad4c0;
}

/**
 * Dashboard module
 */
/* disabled blocks */
#dashboard #disabled-blocks .region.disabled-blocks {
  min-height: 100px;
  background-color: #CCCCCC;
  margin: 7px 0;
  padding: 6px;
}
#dashboard #disabled-blocks .block {
  display: inline-block;
  margin: 3px;
  background-color: #444444;
  padding: 6px 4px 6px 8px;
  margin: 0px 5px 5px 0px;
  cursor: move;
}
#dashboard #disabled-blocks .block:hover {
  background: #0074BD;
}
#dashboard #disabled-blocks .block h2 {
  color: #ffffff;
  padding: 5px 5px 5px 22px;
  background: url("images/draggable.png") no-repeat 0 5px;
  border: none;
  margin: 0;
  font-size: 1em;
}
#dashboard #disabled-blocks .block:hover h2 {
  background-color: #0074BD;
  color: #fff;
}
#dashboard #disabled-blocks .block .content {
  display: none;
}
/* placeholder */
#dashboard .block-placeholder {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  margin: 0 6px 6px 0;
  height: 33px;
  border: 2px dashed #0074BD;
}
/* "done" button */
#dashboard a.button {
  display: inline-block;
  margin: 5px 0 12px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url("images/button.png") repeat-x scroll left top transparent;
  border: 1px solid #CCCCCC;
  color: #404040;
  cursor: pointer;
  padding: 5px 11px;
}
/* enabled blocks */
#dashboard #dashboard_main {
  float: left;
  width: 65%;
}
#dashboard #dashboard_sidebar {
  float: right;
  width: 32%;
}
#dashboard #dashboard_main .ui-sortable-helper .content {
  display: none;
}
#dashboard .dashboard-region .ui-sortable {
  border: 2px dashed #ccc;
  padding: 10px;
}
#dashboard .dashboard-region .ui-sortable .block {
  margin-bottom: 15px;
}
#dashboard .dashboard-region .ui-sortable .block:last-child {
  margin-bottom: 0px;
}
#dashboard .dashboard-region .ui-sortable .block h2 {
  background: url("images/draggable.png") no-repeat 9px 11px #444444;
  color: #FFFFFF;
  cursor: move;
  padding:12px 0 12px 30px;
}
#dashboard .dashboard-region .ui-sortable .block:hover h2 {
  background-color: #0074BD;
}
#dashboard .placeholder {
  margin-bottom: 6px;
}

