/* $Id: page.css,v 1.4.2.1 2010/06/18 17:55:11 jarek Exp $ */

/*
** Layout
*/
#content-wrapper,
#sidebar-first-wrapper,
#sidebar-second-wrapper {
  float: left;
}
#content,
#sidebar-first,
#sidebar-second {
  margin: 0 15px;
} 
#content.first,
#sidebar-first.first,
#sidebar-second.first {
  margin-left: 0;
}
#content.last,
#sidebar-first.last,
#sidebar-second.last {
  margin-right: 0;
}
/*  3-column layout */
body.two-sidebars #header,
body.two-sidebars #main,
body.two-sidebars #footer {
  margin: 0 auto;
}
body.two-sidebars #content-wrapper {
  width: 54%;
}
body.two-sidebars #sidebar-first-wrapper,
body.two-sidebars #sidebar-second-wrapper {
  width: 23%;
}
/* 2-column layout */
body.one-sidebar #header,
body.one-sidebar #main,
body.one-sidebar #footer {
  margin: 0 auto;
}
body.one-sidebar #content-wrapper {
  width: 70%;
}
body.one-sidebar #sidebar-first-wrapper,
body.one-sidebar #sidebar-second-wrapper {
  width: 30%;
}
/* 1 column layout */
body.no-sidebars #header,
body.no-sidebars #main,
body.no-sidebars #footer {
  margin: 0 auto;
}
/* 1 column layout (admin) */
body.page-admin #main {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  min-width: 300px;
}
body.page-admin #content-wrapper {
  width: 100%;
}
/* Mobile */
@media only screen and (max-device-width: 480px) {
  #header,
  #main,
  #footer {
    width: 100%!important;
  }
}
/* Prevent collision with browser chrome */
#header-wrapper,
#main-wrapper,
#footer-wrapper {
  padding: 0 20px;
}

/*
** Wrappers
*/
html {
  height: 100%;
}
body {
  color: #404040;
}
#header-wrapper {
}
#main {
  min-height: 300px;
  padding: 20px 0;
}
#footer {
}

/**
 * Skip link
 */
#skip-link {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  position: absolute;
  left: 40%; /* LTR */
  width: auto;
  z-index: 990;
}
#skip-link a {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  border: none;
  height: 1px;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  text-decoration: none;
  outline: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

/*
** Header backgrounds
*/
#header {
  background: url(images/header-greytree.jpg) no-repeat top right; /* LTR */
}
body.coffeerings #header {
  background: url(images/header-coffeerings.jpg) repeat-x top right;
}
body.spots #header {
  background: url(images/header-spots.jpg) repeat top right;
}
body.splatter #header {
  background-image: url(images/header-splatter.jpg);
}
body.splatter #name-and-slogan,
body.splatter #logo {
  background-color: #ffffff;
}
body.thoughtwind #header {
  background-image: url(images/header-thoughtwind.jpg);
}
body.mountain #header {
  background-image: url(images/header-mountain.jpg);
}
body.none #header {
  background-image: none;
}

/*
** Branding
*/
#branding {
  padding: 50px 20px 47px 30px; /* LTR */
  margin-bottom: 7px;
}
a#logo {
  display: table-cell;
  vertical-align: middle;
  padding: 4px 15px 0 0; /* LTR */
}
a#logo:hover {
  border-bottom: none;
}
a#logo img {
  margin: 0;
}
#name-and-slogan {
  display: table-cell;
  vertical-align: middle;
}
#site-name {
  margin: 0;
  padding: 0;
  font-size: 4em;
  line-height: 1;
  border-bottom: none;
}
#site-name a {
  color: #333333;
  font-family: "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}
#site-name a:hover {
  border-bottom: none;
}
#site-name a:active,
#site-name a:focus {
  outline-color: #373737; 
}
#site-slogan {
  color: #5F6260;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  line-height: 1;
  margin: 3px 0 0;
}

/*
** Main links
*/
/* 1st level */
#navigation {
  border-bottom: 1px solid #CCCCCC;
  background-color: #ffffff;
}
#navigation ul {
  margin: 0;
}
#navigation li {
  display: inline-block;
  padding: 10px 20px 10px 0;
}
#navigation li.collapsed:after {
  content: none;
}
#navigation li a {
  display: block;
  text-decoration: none;
  line-height: 1.3;
}
#navigation li a.active {
  color: #BF6030;
}
#navigation li a.active:hover {
  color: #E59900;
}
#navigation li.expanded {
  position: relative;
  background: url(images/menu-expanded.png) no-repeat right 17px; /* LTR */
  padding: 10px 12px 10px 0; /* LTR */
  margin: 0 20px 0 0; /* LTR */
}
/* 2nd level */
#navigation li.expanded ul {
  display: none;
  padding: 4px 0;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  width: 185px;
  top: 32px;
  left: -4px; /* LTR */
  z-index: 100;
  border: 1px solid #CCCCCC;
}
#navigation li.expanded:hover > ul {
  display: block;
}
#navigation li.expanded li {
  padding: 5px 12px 5px 14px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
#navigation li.expanded li.expanded {
  background: url(images/menu-collapsed.png) no-repeat 96% 13px; /* LTR */
}
/* 3rd, 4th, 5th, (...) level  */
#navigation li.expanded ul ul {
  display: none;
  left: 185px; /* LTR */
  top: -5px;
}

/*
** Footer columns
*/
#footer-columns {
  padding: 25px 0 18px;
  display: table;
  width: 100%;
  border-top: 3px double #CCCCCC;
  border-bottom: 3px double #CCCCCC;
}
#footer-columns > .column {
  display: table-cell;
}
#footer-columns.columns-1 > .column {
  width: 100%;
}
#footer-columns.columns-2 > .column {
  width: 49.5%;
}
#footer-columns.columns-3 > .column {
  width: 33%;
}
#footer-columns.columns-4 > .column {
  width: 24.2%;
}
#footer-columns .region {
  margin: 0 15px;
}
#footer-columns .column.first .region {
  margin-left: 0px;
}
#footer-columns .column.last .region {
  margin-right: 0px;
}

/*
** Closure
*/
#closure {
  font-size: 0.8em;
  color: #808080;
  display: table;
  width: 100%;
  padding: 15px 0;
}
#closure .inner {
  padding-top: 14px;
}
/* Theme info */
#info {
  display: table-cell;
}
span#copyright {
  margin-right: 5px;
}
/* Secondary menu */
#secondary-menu {
  display: table-cell;
  text-align: right; /* LTR */
  margin-bottom: 1px;
}
#secondary-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
  border: none;
  padding: 0;
}
#secondary-menu ul li {
  display: inline;
  margin: 0 0 0 18px;
}
#secondary-menu ul li:first-child {
  margin: 0;
}
