/* $Id: page-rtl.css,v 1.4.2.1 2010/06/18 17:55:11 jarek Exp $ */

#header {
  background: url("images/header-greytree-rtl.jpg") no-repeat left top;
}
#branding {
  padding: 50px 30px 47px 20px;
  margin-bottom: 7px;
}
a#logo {
  padding: 4px 0 0 15px;
}
#navigation li.expanded {
  background: url(images/menu-expanded.png) no-repeat left 17px;
  padding: 10px 0 10px 12px;
  margin: 0 20px 0 0px;
}
#navigation li.expanded ul {
  right: -4px;
}
#navigation li.expanded li.expanded {
  background: url("images/menu-collapsed-rtl.png") no-repeat 4% 13px;
  margin: 0 0 0 20px;
}
#navigation li.expanded ul ul {
  right: 185px;
}
#footer-columns .column.first .region {
  margin-left: 15px;
  margin-right: 0;
}
#footer-columns .column.last .region {
  margin-right: 15px;
  margin-left: 0;
}
#secondary-menu {
  text-align: left;
}
#secondary-menu ul li {
  margin: 0 14px 0 0;
}

